<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marcosvbras.robomarket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.BaseActivity" />
        <activity android:name=".flows.createrobot.ui.CreateRobotActivity" />
        <activity android:name=".flows.home.ui.activity.HomeActivity" />
        <activity android:name=".flows.intro.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".flows.login.ui.LoginActivity" />
        <activity android:name=".flows.profile.ui.EditProfileActivity" />
        <activity android:name=".flows.register.ui.RegisterActivity" />
        <activity android:name=".flows.robotdetail.ui.RobotDetailActivity" />
        <activity android:name=".flows.selectrobot.ui.SelectRobotActivity" />
        <activity android:name=".flows.createsale.ui.activity.CreateSaleActivity" />
    </application>

</manifest>